## Limpieza de datos

In [3]:
import pandas as pd

In [11]:
df_docentes_ = pd.read_csv("../datos/csv/dotacion_asistentes_docentes/docentes.csv",delimiter = ';')
df_asistentes_ = pd.read_csv("../datos/csv/dotacion_asistentes_docentes/asistentes.csv",delimiter = ';')

In [13]:
df_docentes_.head()

,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,DC_SUP_SOST,HH_SUP_SOST,DC_SUBDIR,HH_SUBDIR,DC_PROF_ENC,HH_PROF_ENC,DC_EDUC_TRAD,HH_EDUC_TRAD,DC_TOT,HH_TOT
0,2023,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,0,0,0,0,0,0,0,0,71,2393
1,2023,2,7,PARVULARIO LAS ESPIGUITAS,15,AYP,151,15101,ARICA,151,...,0,0,0,0,0,0,0,0,15,530
2,2023,3,5,ESC. PEDRO VICENTE GUTIERREZ TORRES,15,AYP,151,15101,ARICA,151,...,0,0,0,0,0,0,0,0,27,1078
3,2023,4,3,LICEO OCTAVIO PALMA PEREZ,15,AYP,151,15101,ARICA,151,...,0,0,0,0,0,0,0,0,69,2727
4,2023,5,1,JOVINA NARANJO FERNANDEZ,15,AYP,151,15101,ARICA,151,...,0,0,0,0,0,0,0,0,63,2414

In [27]:
df_docentes = df_docentes_[df_docentes_['COD_REG_RBD']==13]
df_docentes['DC_A']

#AGNO SE PUEDE IR ES REDUNDANTE SI TODOS LOS DATOS LOS SACAMOS DEL 2023
#RBD SE QUEDA CON ESTO PODEMOS HACER EL NEXO ENTRE ESTUDIANTES Y COLEGIO 
#COD_DEPROV_RBD
#NOM_DEPROV_RBD

1330       0
5649       0
6994     155
6996     117
6997      22
        ...
16642      0
16647      0
16648      0
16649      0
16653      0
Name: DC_A, Length: 4413, dtype: int64